{
  "openapi": "3.1.0",
  "info": {
    "title": "RSS3 Data API",
    "version": "2.0.1",
    "description": "Check openapi.json file's `x-extension.metadataTypes` for the relationship between metadata, tag and type."
  },
  "servers": [
    {
      "url": "https://testnet.rss3.io/data",
      "description": "Mainnet"
    }
  ],
  "paths": {
    "/accounts/activities": {
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "AccountsActivitiesRequest",
                "description": "github.com/naturalselectionlabs/data-api/internal/service/explorer/handler.AccountsActivitiesRequest",
                "type": "object",
                "properties": {
                  "account": {
                    "description": "Retrieve activities from the specified list of accounts",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "action_limit": {
                    "description": "Specify the number of actions within the activity to retrieve",
                    "default": 10,
                    "type": "integer",
                    "maximum": 20,
                    "minimum": 1
                  },
                  "cursor": {
                    "description": "Specify the cursor used for pagination",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "direction": {
                    "description": "Retrieve activities based on direction",
                    "anyOf": [
                      {
                        "title": "Direction",
                        "description": "github.com/naturalselectionlabs/sakuin/common/schema/filter.Direction",
                        "enum": [
                          "in",
                          "out"
                        ]
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "limit": {
                    "description": "Specify the number of activities to retrieve",
                    "default": 100,
                    "type": "integer",
                    "maximum": 500,
                    "minimum": 1
                  },
                  "network": {
                    "description": "Retrieve activities from the specified network(s)",
                    "type": "array",
                    "items": {
                      "title": "Network",
                      "description": "github.com/naturalselectionlabs/data-api/common/schema.Network",
                      "enum": [
                        "arbitrum_nova",
                        "arbitrum_one",
                        "arweave",
                        "avalanche",
                        "base",
                        "binance_smart_chain",
                        "crossbell",
                        "erc1577",
                        "ethereum",
                        "farcaster",
                        "gnosis",
                        "optimism",
                        "polygon",
                        "scroll",
                        "snapshot",
                        "x1_testnet",
                        "zksync_era",
                        "zksync_lite"
                      ]
                    }
                  },
                  "platform": {
                    "description": "Retrieve activities from the specified platform(s)",
                    "type": "array",
                    "items": {
                      "title": "Platform",
                      "description": "github.com/naturalselectionlabs/sakuin/common/schema/filter.Platform",
                      "enum": [
                        "1inch",
                        "AAVE",
                        "Aavegotchi",
                        "Arbitrum",
                        "Base",
                        "BendDAO",
                        "Blur",
                        "Carv",
                        "Cow",
                        "Crossbell",
                        "Curve",
                        "ENS",
                        "Farcaster",
                        "Foundation",
                        "Gitcoin",
                        "Gnosis",
                        "Highlight",
                        "IQ.Wiki",
                        "KyberSwap",
                        "Lens",
                        "Lido",
                        "Linea",
                        "LooksRare",
                        "Mars4",
                        "Matters",
                        "MetaMask",
                        "Mira",
                        "Mirror",
                        "Nouns",
                        "OpenSea",
                        "Optimism",
                        "POAP",
                        "ParaSwap",
                        "Paragraph",
                        "PlanetIX",
                        "Polygon",
                        "RARA",
                        "RSS3",
                        "Rainbow",
                        "Safe",
                        "Scroll",
                        "Snapshot",
                        "Stargate",
                        "Synapse",
                        "Uniswap",
                        "Zerion",
                        "Zora",
                        "friend.tech",
                        "zkSync Era",
                        "zkSync Lite",
                        "zkSync"
                      ]
                    }
                  },
                  "since_timestamp": {
                    "description": "Retrieve activities starting from this timestamp",
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "status": {
                    "description": "Retrieve activities based on status",
                    "anyOf": [
                      {
                        "title": "Status",
                        "description": "github.com/naturalselectionlabs/sakuin/common/schema/filter.Status",
                        "enum": [
                          "failed",
                          "successful"
                        ]
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "tag": {
                    "description": "Retrieve activities from the specified tag(s)",
                    "type": "array",
                    "items": {
                      "title": "Tag",
                      "description": "github.com/naturalselectionlabs/sakuin/common/schema/filter.Tag",
                      "enum": [
                        "collectible",
                        "donation",
                        "exchange",
                        "governance",
                        "metaverse",
                        "social",
                        "transaction",
                        "unknown"
                      ]
                    }
                  },
                  "type": {
                    "description": "Retrieve activities from the specified type(s)",
                    "type": "array",
                    "items": {
                      "title": "Type",
                      "description": "github.com/naturalselectionlabs/data-api/common/schema.Type",
                      "enum": [
                        "approval",
                        "auction",
                        "bridge",
                        "burn",
                        "claim",
                        "comment",
                        "delete",
                        "deploy",
                        "donate",
                        "liquidity",
                        "loan",
                        "mint",
                        "multisig",
                        "post",
                        "profile",
                        "propose",
                        "proxy",
                        "revise",
                        "reward",
                        "share",
                        "staking",
                        "swap",
                        "trade",
                        "transfer",
                        "unknown",
                        "vote"
                      ]
                    }
                  },
                  "until_timestamp": {
                    "description": "Retrieve activities up to this timestamp",
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "account"
                ],
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "title": "Activity",
                            "description": "github.com/naturalselectionlabs/data-api/common/schema.Activity",
                            "type": "object",
                            "properties": {
                              "actions": {
                                "type": "array",
                                "items": {
                                  "title": "Action",
                                  "description": "github.com/naturalselectionlabs/data-api/internal/database/model.Action",
                                  "type": "object",
                                  "properties": {
                                    "from": {
                                      "type": "string"
                                    },
                                    "metadata": {
                                      "title": "Metadata",
                                      "description": "github.com/naturalselectionlabs/sakuin/common/schema.Metadata",
                                      "anyOf": [
                                        {
                                          "title": "CollectibleApproval",
                                          "description": "github.com/naturalselectionlabs/sakuin/common/schema/metadata.CollectibleApproval",
                                          "type": "object",
                                          "properties": {
                                            "action": {
                                              "title": "CollectibleApprovalAction",
                                              "description": "github.com/naturalselectionlabs/sakuin/common/schema/metadata.CollectibleApprovalAction",
                                              "enum": [
                                                "approve",
                                                "revoke"
                                              ]
                                            },
                                            "animation_url": {
                                              "type": "string"
                                            },
                                            "contract_address": {
                                              "anyOf": [
                                                {
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "decimals": {
                                              "type": "integer"
                                            },
                                            "description": {
                                              "type": "string"
                                            },
                                            "external_url": {
                                              "type": "string"
                                            },
                                            "id": {
                                              "anyOf": [
                                                {
                                                  "description": "github.com/shopspring/decimal.Decimal",
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "image": {
                                              "type": "string"
                                            },
                                            "image_url": {
                                              "type": "string"
                                            },
                                            "logo": {
                                              "type": "string"
                                            },
                                            "media_url": {
                                              "type": "string"
                                            },
                                            "name": {
                                              "type": "string"
                                            },
                                            "properties": {
                                              "title": "RawMessage",
                                              "description": "encoding/json.RawMessage"
                                            },
                                            "standard": {
                                              "title": "Standard",
                                              "description": "github.com/naturalselectionlabs/sakuin/common/ethereum/contract.Standard",
                                              "type": "integer"
                                            },
                                            "symbol": {
                                              "type": "string"
                                            },
                                            "title": {
                                              "type": "string"
                                            },
                                            "uri": {
                                              "type": "string"
                                            },
                                            "value": {
                                              "anyOf": [
                                                {
                                                  "description": "github.com/shopspring/decimal.Decimal",
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            }
                                          },
                                          "required": [
                                            "action"
                                          ],
                                          "additionalProperties": false
                                        },
                                        {
                                          "title": "CollectibleAuction",
                                          "description": "github.com/naturalselectionlabs/sakuin/common/schema/metadata.CollectibleAuction",
                                          "type": "object",
                                          "properties": {
                                            "action": {
                                              "title": "CollectibleAuctionAction",
                                              "description": "github.com/naturalselectionlabs/sakuin/common/schema/metadata.CollectibleAuctionAction",
                                              "enum": [
                                                "bid",
                                                "cancel",
                                                "create",
                                                "finalize",
                                                "invalidate",
                                                "update"
                                              ]
                                            },
                                            "animation_url": {
                                              "type": "string"
                                            },
                                            "contract_address": {
                                              "anyOf": [
                                                {
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "cost": {
                                              "anyOf": [
                                                {
                                                  "title": "TokenMetadata",
                                                  "description": "github.com/naturalselectionlabs/sakuin/common/schema.TokenMetadata",
                                                  "type": "object",
                                                  "properties": {
                                                    "animation_url": {
                                                      "type": "string"
                                                    },
                                                    "contract_address": {
                                                      "anyOf": [
                                                        {
                                                          "type": "string"
                                                        },
                                                        {
                                                          "type": "null"
                                                        }
                                                      ]
                                                    },
                                                    "decimals": {
                                                      "type": "integer"
                                                    },
                                                    "description": {
                                                      "type": "string"
                                                    },
                                                    "external_url": {
                                                      "type": "string"
                                                    },
                                                    "id": {
                                                      "anyOf": [
                                                        {
                                                          "description": "github.com/shopspring/decimal.Decimal",
                                                          "type": "string"
                                                        },
                                                        {
                                                          "type": "null"
                                                        }
                                                      ]
                                                    },
                                                    "image": {
                                                      "type": "string"
                                                    },
                                                    "image_url": {
                                                      "type": "string"
                                                    },
                                                    "logo": {
                                                      "type": "string"
                                                    },
                                                    "media_url": {
                                                      "type": "string"
                                                    },
                                                    "name": {
                                                      "type": "string"
                                                    },
                                                    "properties": {
                                                      "title": "RawMessage",
                                                      "description": "encoding/json.RawMessage"
                                                    },
                                                    "standard": {
                                                      "title": "Standard",
                                                      "description": "github.com/naturalselectionlabs/sakuin/common/ethereum/contract.Standard",
                                                      "type": "integer"
                                                    },
                                                    "symbol": {
                                                      "type": "string"
                                                    },
                                                    "title": {
                                                      "type": "string"
                                                    },
                                                    "uri": {
                                                      "type": "string"
                                                    },
                                                    "value": {
                                                      "anyOf": [
                                                        {
                                                          "description": "github.com/shopspring/decimal.Decimal",
                                                          "type": "string"
                                                        },
                                                        {
                                                          "type": "null"
                                                        }
                                                      ]
                                                    }
                                                  },
                                                  "additionalProperties": false
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "decimals": {
                                              "type": "integer"
                                            },
                                            "description": {
                                              "type": "string"
                                            },
                                            "external_url": {
                                              "type": "string"
                                            },
                                            "id": {
                                              "anyOf": [
                                                {
                                                  "description": "github.com/shopspring/decimal.Decimal",
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "image": {
                                              "type": "string"
                                            },
                                            "image_url": {
                                              "type": "string"
                                            },
                                            "logo": {
                                              "type": "string"
                                            },
                                            "media_url": {
                                              "type": "string"
                                            },
                                            "name": {
                                              "type": "string"
                                            },
                                            "properties": {
                                              "title": "RawMessage",
                                              "description": "encoding/json.RawMessage"
                                            },
                                            "standard": {
                                              "title": "Standard",
                                              "description": "github.com/naturalselectionlabs/sakuin/common/ethereum/contract.Standard",
                                              "type": "integer"
                                            },
                                            "symbol": {
                                              "type": "string"
                                            },
                                            "title": {
                                              "type": "string"
                                            },
                                            "uri": {
                                              "type": "string"
                                            },
                                            "value": {
                                              "anyOf": [
                                                {
                                                  "description": "github.com/shopspring/decimal.Decimal",
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            }
                                          },
                                          "required": [
                                            "action"
                                          ],
                                          "additionalProperties": false
                                        },
                                        {
                                          "title": "CollectibleTrade",
                                          "description": "github.com/naturalselectionlabs/sakuin/common/schema/metadata.CollectibleTrade",
                                          "type": "object",
                                          "properties": {
                                            "action": {
                                              "title": "CollectibleTradeAction",
                                              "description": "github.com/naturalselectionlabs/sakuin/common/schema/metadata.CollectibleTradeAction",
                                              "enum": [
                                                "buy",
                                                "cancel",
                                                "invalidate",
                                                "offer",
                                                "sell",
                                                "set",
                                                "update"
                                              ]
                                            },
                                            "animation_url": {
                                              "type": "string"
                                            },
                                            "contract_address": {
                                              "anyOf": [
                                                {
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "cost": {
                                              "anyOf": [
                                                {
                                                  "title": "TokenMetadata",
                                                  "description": "github.com/naturalselectionlabs/sakuin/common/schema.TokenMetadata",
                                                  "type": "object",
                                                  "properties": {
                                                    "animation_url": {
                                                      "type": "string"
                                                    },
                                                    "contract_address": {
                                                      "anyOf": [
                                                        {
                                                          "type": "string"
                                                        },
                                                        {
                                                          "type": "null"
                                                        }
                                                      ]
                                                    },
                                                    "decimals": {
                                                      "type": "integer"
                                                    },
                                                    "description": {
                                                      "type": "string"
                                                    },
                                                    "external_url": {
                                                      "type": "string"
                                                    },
                                                    "id": {
                                                      "anyOf": [
                                                        {
                                                          "description": "github.com/shopspring/decimal.Decimal",
                                                          "type": "string"
                                                        },
                                                        {
                                                          "type": "null"
                                                        }
                                                      ]
                                                    },
                                                    "image": {
                                                      "type": "string"
                                                    },
                                                    "image_url": {
                                                      "type": "string"
                                                    },
                                                    "logo": {
                                                      "type": "string"
                                                    },
                                                    "media_url": {
                                                      "type": "string"
                                                    },
                                                    "name": {
                                                      "type": "string"
                                                    },
                                                    "properties": {
                                                      "title": "RawMessage",
                                                      "description": "encoding/json.RawMessage"
                                                    },
                                                    "standard": {
                                                      "title": "Standard",
                                                      "description": "github.com/naturalselectionlabs/sakuin/common/ethereum/contract.Standard",
                                                      "type": "integer"
                                                    },
                                                    "symbol": {
                                                      "type": "string"
                                                    },
                                                    "title": {
                                                      "type": "string"
                                                    },
                                                    "uri": {
                                                      "type": "string"
                                                    },
                                                    "value": {
                                                      "anyOf": [
                                                        {
                                                          "description": "github.com/shopspring/decimal.Decimal",
                                                          "type": "string"
                                                        },
                                                        {
                                                          "type": "null"
                                                        }
                                                      ]
                                                    }
                                                  },
                                                  "additionalProperties": false
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "decimals": {
                                              "type": "integer"
                                            },
                                            "description": {
                                              "type": "string"
                                            },
                                            "external_url": {
                                              "type": "string"
                                            },
                                            "id": {
                                              "anyOf": [
                                                {
                                                  "description": "github.com/shopspring/decimal.Decimal",
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "image": {
                                              "type": "string"
                                            },
                                            "image_url": {
                                              "type": "string"
                                            },
                                            "logo": {
                                              "type": "string"
                                            },
                                            "media_url": {
                                              "type": "string"
                                            },
                                            "name": {
                                              "type": "string"
                                            },
                                            "properties": {
                                              "title": "RawMessage",
                                              "description": "encoding/json.RawMessage"
                                            },
                                            "standard": {
                                              "title": "Standard",
                                              "description": "github.com/naturalselectionlabs/sakuin/common/ethereum/contract.Standard",
                                              "type": "integer"
                                            },
                                            "symbol": {
                                              "type": "string"
                                            },
                                            "title": {
                                              "type": "string"
                                            },
                                            "uri": {
                                              "type": "string"
                                            },
                                            "value": {
                                              "anyOf": [
                                                {
                                                  "description": "github.com/shopspring/decimal.Decimal",
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            }
                                          },
                                          "required": [
                                            "action"
                                          ],
                                          "additionalProperties": false
                                        },
                                        {
                                          "title": "CollectibleTransfer",
                                          "description": "github.com/naturalselectionlabs/sakuin/common/schema/metadata.CollectibleTransfer",
                                          "type": "object",
                                          "properties": {
                                            "animation_url": {
                                              "type": "string"
                                            },
                                            "contract_address": {
                                              "anyOf": [
                                                {
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "decimals": {
                                              "type": "integer"
                                            },
                                            "description": {
                                              "type": "string"
                                            },
                                            "external_url": {
                                              "type": "string"
                                            },
                                            "id": {
                                              "anyOf": [
                                                {
                                                  "description": "github.com/shopspring/decimal.Decimal",
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "image": {
                                              "type": "string"
                                            },
                                            "image_url": {
                                              "type": "string"
                                            },
                                            "logo": {
                                              "type": "string"
                                            },
                                            "media_url": {
                                              "type": "string"
                                            },
                                            "name": {
                                              "type": "string"
                                            },
                                            "properties": {
                                              "title": "RawMessage",
                                              "description": "encoding/json.RawMessage"
                                            },
                                            "standard": {
                                              "title": "Standard",
                                              "description": "github.com/naturalselectionlabs/sakuin/common/ethereum/contract.Standard",
                                              "type": "integer"
                                            },
                                            "symbol": {
                                              "type": "string"
                                            },
                                            "title": {
                                              "type": "string"
                                            },
                                            "uri": {
                                              "type": "string"
                                            },
                                            "value": {
                                              "anyOf": [
                                                {
                                                  "description": "github.com/shopspring/decimal.Decimal",
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        {
                                          "title": "Donation",
                                          "description": "github.com/naturalselectionlabs/sakuin/common/schema/metadata.Donation",
                                          "type": "object",
                                          "properties": {
                                            "description": {
                                              "type": "string"
                                            },
                                            "logo": {
                                              "type": "string"
                                            },
                                            "project_id": {
                                              "type": "string"
                                            },
                                            "title": {
                                              "type": "string"
                                            },
                                            "token": {
                                              "title": "TokenMetadata",
                                              "description": "github.com/naturalselectionlabs/sakuin/common/schema.TokenMetadata",
                                              "type": "object",
                                              "properties": {
                                                "animation_url": {
                                                  "type": "string"
                                                },
                                                "contract_address": {
                                                  "anyOf": [
                                                    {
                                                      "type": "string"
                                                    },
                                                    {
                                                      "type": "null"
                                                    }
                                                  ]
                                                },
                                                "decimals": {
                                                  "type": "integer"
                                                },
                                                "description": {
                                                  "type": "string"
                                                },
                                                "external_url": {
                                                  "type": "string"
                                                },
                                                "id": {
                                                  "anyOf": [
                                                    {
                                                      "description": "github.com/shopspring/decimal.Decimal",
                                                      "type": "string"
                                                    },
                                                    {
                                                      "type": "null"
                                                    }
                                                  ]
                                                },
                                                "image": {
                                                  "type": "string"
                                                },
                                                "image_url": {
                                                  "type": "string"
                                                },
                                                "logo": {
                                                  "type": "string"
                                                },
                                                "media_url": {
                                                  "type": "string"
                                                },
                                                "name": {
                                                  "type": "string"
                                                },
                                                "properties": {
                                                  "title": "RawMessage",
                                                  "description": "encoding/json.RawMessage"
                                                },
                                                "standard": {
                                                  "title": "Standard",
                                                  "description": "github.com/naturalselectionlabs/sakuin/common/ethereum/contract.Standard",
                                                  "type": "integer"
                                                },
                                                "symbol": {
                                                  "type": "string"
                                                },
                                                "title": {
                                                  "type": "string"
                                                },
                                                "uri": {
                                                  "type": "string"
                                                },
                                                "value": {
                                                  "anyOf": [
                                                    {
                                                      "description": "github.com/shopspring/decimal.Decimal",
                                                      "type": "string"
                                                    },
                                                    {
                                                      "type": "null"
                                                    }
                                                  ]
                                                }
                                              },
                                              "additionalProperties": false
                                            }
                                          },
                                          "required": [
                                            "token"
                                          ],
                                          "additionalProperties": false
                                        },
                                        {
                                          "title": "ExchangeLiquidity",
                                          "description": "github.com/naturalselectionlabs/sakuin/common/schema/metadata.ExchangeLiquidity",
                                          "type": "object",
                                          "properties": {
                                            "action": {
                                              "title": "ExchangeLiquidityAction",
                                              "description": "github.com/naturalselectionlabs/sakuin/common/schema/metadata.ExchangeLiquidityAction",
                                              "enum": [
                                                "add",
                                                "borrow",
                                                "collect",
                                                "remove",
                                                "repay",
                                                "supply",
                                                "withdraw"
                                              ]
                                            },
                                            "tokens": {
                                              "type": "array",
                                              "items": {
                                                "title": "TokenMetadata",
                                                "description": "github.com/naturalselectionlabs/sakuin/common/schema.TokenMetadata",
                                                "type": "object",
                                                "properties": {
                                                  "animation_url": {
                                                    "type": "string"
                                                  },
                                                  "contract_address": {
                                                    "anyOf": [
                                                      {
                                                        "type": "string"
                                                      },
                                                      {
                                                        "type": "null"
                                                      }
                                                    ]
                                                  },
                                                  "decimals": {
                                                    "type": "integer"
                                                  },
                                                  "description": {
                                                    "type": "string"
                                                  },
                                                  "external_url": {
                                                    "type": "string"
                                                  },
                                                  "id": {
                                                    "anyOf": [
                                                      {
                                                        "description": "github.com/shopspring/decimal.Decimal",
                                                        "type": "string"
                                                      },
                                                      {
                                                        "type": "null"
                                                      }
                                                    ]
                                                  },
                                                  "image": {
                                                    "type": "string"
                                                  },
                                                  "image_url": {
                                                    "type": "string"
                                                  },
                                                  "logo": {
                                                    "type": "string"
                                                  },
                                                  "media_url": {
                                                    "type": "string"
                                                  },
                                                  "name": {
                                                    "type": "string"
                                                  },
                                                  "properties": {
                                                    "title": "RawMessage",
                                                    "description": "encoding/json.RawMessage"
                                                  },
                                                  "standard": {
                                                    "title": "Standard",
                                                    "description": "github.com/naturalselectionlabs/sakuin/common/ethereum/contract.Standard",
                                                    "type": "integer"
                                                  },
                                                  "symbol": {
                                                    "type": "string"
                                                  },
                                                  "title": {
                                                    "type": "string"
                                                  },
                                                  "uri": {
                                                    "type": "string"
                                                  },
                                                  "value": {
                                                    "anyOf": [
                                                      {
                                                        "description": "github.com/shopspring/decimal.Decimal",
                                                        "type": "string"
                                                      },
                                                      {
                                                        "type": "null"
                                                      }
                                                    ]
                                                  }
                                                },
                                                "additionalProperties": false
                                              }
                                            }
                                          },
                                          "required": [
                                            "action",
                                            "tokens"
                                          ],
                                          "additionalProperties": false
                                        },
                                        {
                                          "title": "ExchangeLoan",
                                          "description": "github.com/naturalselectionlabs/sakuin/common/schema/metadata.ExchangeLoan",
                                          "type": "object",
                                          "properties": {
                                            "action": {
                                              "title": "ExchangeLoanAction",
                                              "description": "github.com/naturalselectionlabs/sakuin/common/schema/metadata.ExchangeLoanAction",
                                              "enum": [
                                                "create",
                                                "liquidate",
                                                "refinance",
                                                "repay",
                                                "seize"
                                              ]
                                            },
                                            "amount": {
                                              "anyOf": [
                                                {
                                                  "title": "TokenMetadata",
                                                  "description": "github.com/naturalselectionlabs/sakuin/common/schema.TokenMetadata",
                                                  "type": "object",
                                                  "properties": {
                                                    "animation_url": {
                                                      "type": "string"
                                                    },
                                                    "contract_address": {
                                                      "anyOf": [
                                                        {
                                                          "type": "string"
                                                        },
                                                        {
                                                          "type": "null"
                                                        }
                                                      ]
                                                    },
                                                    "decimals": {
                                                      "type": "integer"
                                                    },
                                                    "description": {
                                                      "type": "string"
                                                    },
                                                    "external_url": {
                                                      "type": "string"
                                                    },
                                                    "id": {
                                                      "anyOf": [
                                                        {
                                                          "description": "github.com/shopspring/decimal.Decimal",
                                                          "type": "string"
                                                        },
                                                        {
                                                          "type": "null"
                                                        }
                                                      ]
                                                    },
                                                    "image": {
                                                      "type": "string"
                                                    },
                                                    "image_url": {
                                                      "type": "string"
                                                    },
                                                    "logo": {
                                                      "type": "string"
                                                    },
                                                    "media_url": {
                                                      "type": "string"
                                                    },
                                                    "name": {
                                                      "type": "string"
                                                    },
                                                    "properties": {
                                                      "title": "RawMessage",
                                                      "description": "encoding/json.RawMessage"
                                                    },
                                                    "standard": {
                                                      "title": "Standard",
                                                      "description": "github.com/naturalselectionlabs/sakuin/common/ethereum/contract.Standard",
                                                      "type": "integer"
                                                    },
                                                    "symbol": {
                                                      "type": "string"
                                                    },
                                                    "title": {
                                                      "type": "string"
                                                    },
                                                    "uri": {
                                                      "type": "string"
                                                    },
                                                    "value": {
                                                      "anyOf": [
                                                        {
                                                          "description": "github.com/shopspring/decimal.Decimal",
                                                          "type": "string"
                                                        },
                                                        {
                                                          "type": "null"
                                                        }
                                                      ]
                                                    }
                                                  },
                                                  "additionalProperties": false
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "collateral": {
                                              "title": "TokenMetadata",
                                              "description": "github.com/naturalselectionlabs/sakuin/common/schema.TokenMetadata",
                                              "type": "object",
                                              "properties": {
                                                "animation_url": {
                                                  "type": "string"
                                                },
                                                "contract_address": {
                                                  "anyOf": [
                                                    {
                                                      "type": "string"
                                                    },
                                                    {
                                                      "type": "null"
                                                    }
                                                  ]
                                                },
                                                "decimals": {
                                                  "type": "integer"
                                                },
                                                "description": {
                                                  "type": "string"
                                                },
                                                "external_url": {
                                                  "type": "string"
                                                },
                                                "id": {
                                                  "anyOf": [
                                                    {
                                                      "description": "github.com/shopspring/decimal.Decimal",
                                                      "type": "string"
                                                    },
                                                    {
                                                      "type": "null"
                                                    }
                                                  ]
                                                },
                                                "image": {
                                                  "type": "string"
                                                },
                                                "image_url": {
                                                  "type": "string"
                                                },
                                                "logo": {
                                                  "type": "string"
                                                },
                                                "media_url": {
                                                  "type": "string"
                                                },
                                                "name": {
                                                  "type": "string"
                                                },
                                                "properties": {
                                                  "title": "RawMessage",
                                                  "description": "encoding/json.RawMessage"
                                                },
                                                "standard": {
                                                  "title": "Standard",
                                                  "description": "github.com/naturalselectionlabs/sakuin/common/ethereum/contract.Standard",
                                                  "type": "integer"
                                                },
                                                "symbol": {
                                                  "type": "string"
                                                },
                                                "title": {
                                                  "type": "string"
                                                },
                                                "uri": {
                                                  "type": "string"
                                                },
                                                "value": {
                                                  "anyOf": [
                                                    {
                                                      "description": "github.com/shopspring/decimal.Decimal",
                                                      "type": "string"
                                                    },
                                                    {
                                                      "type": "null"
                                                    }
                                                  ]
                                                }
                                              },
                                              "additionalProperties": false
                                            }
                                          },
                                          "required": [
                                            "action",
                                            "collateral"
                                          ],
                                          "additionalProperties": false
                                        },
                                        {
                                          "title": "ExchangeSwap",
                                          "description": "github.com/naturalselectionlabs/sakuin/common/schema/metadata.ExchangeSwap",
                                          "type": "object",
                                          "properties": {
                                            "from": {
                                              "title": "TokenMetadata",
                                              "description": "github.com/naturalselectionlabs/sakuin/common/schema.TokenMetadata",
                                              "type": "object",
                                              "properties": {
                                                "animation_url": {
                                                  "type": "string"
                                                },
                                                "contract_address": {
                                                  "anyOf": [
                                                    {
                                                      "type": "string"
                                                    },
                                                    {
                                                      "type": "null"
                                                    }
                                                  ]
                                                },
                                                "decimals": {
                                                  "type": "integer"
                                                },
                                                "description": {
                                                  "type": "string"
                                                },
                                                "external_url": {
                                                  "type": "string"
                                                },
                                                "id": {
                                                  "anyOf": [
                                                    {
                                                      "description": "github.com/shopspring/decimal.Decimal",
                                                      "type": "string"
                                                    },
                                                    {
                                                      "type": "null"
                                                    }
                                                  ]
                                                },
                                                "image": {
                                                  "type": "string"
                                                },
                                                "image_url": {
                                                  "type": "string"
                                                },
                                                "logo": {
                                                  "type": "string"
                                                },
                                                "media_url": {
                                                  "type": "string"
                                                },
                                                "name": {
                                                  "type": "string"
                                                },
                                                "properties": {
                                                  "title": "RawMessage",
                                                  "description": "encoding/json.RawMessage"
                                                },
                                                "standard": {
                                                  "title": "Standard",
                                                  "description": "github.com/naturalselectionlabs/sakuin/common/ethereum/contract.Standard",
                                                  "type": "integer"
                                                },
                                                "symbol": {
                                                  "type": "string"
                                                },
                                                "title": {
                                                  "type": "string"
                                                },
                                                "uri": {
                                                  "type": "string"
                                                },
                                                "value": {
                                                  "anyOf": [
                                                    {
                                                      "description": "github.com/shopspring/decimal.Decimal",
                                                      "type": "string"
                                                    },
                                                    {
                                                      "type": "null"
                                                    }
                                                  ]
                                                }
                                              },
                                              "additionalProperties": false
                                            },
                                            "to": {
                                              "title": "TokenMetadata",
                                              "description": "github.com/naturalselectionlabs/sakuin/common/schema.TokenMetadata",
                                              "type": "object",
                                              "properties": {
                                                "animation_url": {
                                                  "type": "string"
                                                },
                                                "contract_address": {
                                                  "anyOf": [
                                                    {
                                                      "type": "string"
                                                    },
                                                    {
                                                      "type": "null"
                                                    }
                                                  ]
                                                },
                                                "decimals": {
                                                  "type": "integer"
                                                },
                                                "description": {
                                                  "type": "string"
                                                },
                                                "external_url": {
                                                  "type": "string"
                                                },
                                                "id": {
                                                  "anyOf": [
                                                    {
                                                      "description": "github.com/shopspring/decimal.Decimal",
                                                      "type": "string"
                                                    },
                                                    {
                                                      "type": "null"
                                                    }
                                                  ]
                                                },
                                                "image": {
                                                  "type": "string"
                                                },
                                                "image_url": {
                                                  "type": "string"
                                                },
                                                "logo": {
                                                  "type": "string"
                                                },
                                                "media_url": {
                                                  "type": "string"
                                                },
                                                "name": {
                                                  "type": "string"
                                                },
                                                "properties": {
                                                  "title": "RawMessage",
                                                  "description": "encoding/json.RawMessage"
                                                },
                                                "standard": {
                                                  "title": "Standard",
                                                  "description": "github.com/naturalselectionlabs/sakuin/common/ethereum/contract.Standard",
                                                  "type": "integer"
                                                },
                                                "symbol": {
                                                  "type": "string"
                                                },
                                                "title": {
                                                  "type": "string"
                                                },
                                                "uri": {
                                                  "type": "string"
                                                },
                                                "value": {
                                                  "anyOf": [
                                                    {
                                                      "description": "github.com/shopspring/decimal.Decimal",
                                                      "type": "string"
                                                    },
                                                    {
                                                      "type": "null"
                                                    }
                                                  ]
                                                }
                                              },
                                              "additionalProperties": false
                                            }
                                          },
                                          "required": [
                                            "from",
                                            "to"
                                          ],
                                          "additionalProperties": false
                                        },
                                        {
                                          "title": "GovernanceProposal",
                                          "description": "github.com/naturalselectionlabs/sakuin/common/schema/metadata.GovernanceProposal",
                                          "type": "object",
                                          "properties": {
                                            "body": {
                                              "type": "string"
                                            },
                                            "end_at": {
                                              "anyOf": [
                                                {
                                                  "title": "Time",
                                                  "description": "time.Time",
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "end_block": {
                                              "anyOf": [
                                                {
                                                  "description": "github.com/shopspring/decimal.Decimal",
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "id": {
                                              "type": "string"
                                            },
                                            "link": {
                                              "type": "string"
                                            },
                                            "options": {
                                              "type": "array",
                                              "items": {
                                                "type": "string"
                                              }
                                            },
                                            "organization": {
                                              "anyOf": [
                                                {
                                                  "title": "GovernanceOrganization",
                                                  "description": "github.com/naturalselectionlabs/sakuin/common/schema/metadata.GovernanceOrganization",
                                                  "type": "object",
                                                  "properties": {
                                                    "about": {
                                                      "type": "string"
                                                    },
                                                    "id": {
                                                      "type": "string"
                                                    },
                                                    "name": {
                                                      "type": "string"
                                                    }
                                                  },
                                                  "required": [
                                                    "id",
                                                    "name"
                                                  ],
                                                  "additionalProperties": false
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "start_at": {
                                              "anyOf": [
                                                {
                                                  "title": "Time",
                                                  "description": "time.Time",
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "start_block": {
                                              "anyOf": [
                                                {
                                                  "description": "github.com/shopspring/decimal.Decimal",
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "title": {
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "id"
                                          ],
                                          "additionalProperties": false
                                        },
                                        {
                                          "title": "GovernanceVote",
                                          "description": "github.com/naturalselectionlabs/sakuin/common/schema/metadata.GovernanceVote",
                                          "type": "object",
                                          "properties": {
                                            "choice": {
                                              "type": "string"
                                            },
                                            "count": {
                                              "anyOf": [
                                                {
                                                  "description": "github.com/shopspring/decimal.Decimal",
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "proposal": {
                                              "anyOf": [
                                                {
                                                  "title": "GovernanceProposal",
                                                  "description": "github.com/naturalselectionlabs/sakuin/common/schema/metadata.GovernanceProposal",
                                                  "type": "object",
                                                  "properties": {
                                                    "body": {
                                                      "type": "string"
                                                    },
                                                    "end_at": {
                                                      "anyOf": [
                                                        {
                                                          "title": "Time",
                                                          "description": "time.Time",
                                                          "type": "string"
                                                        },
                                                        {
                                                          "type": "null"
                                                        }
                                                      ]
                                                    },
                                                    "end_block": {
                                                      "anyOf": [
                                                        {
                                                          "description": "github.com/shopspring/decimal.Decimal",
                                                          "type": "string"
                                                        },
                                                        {
                                                          "type": "null"
                                                        }
                                                      ]
                                                    },
                                                    "id": {
                                                      "type": "string"
                                                    },
                                                    "link": {
                                                      "type": "string"
                                                    },
                                                    "options": {
                                                      "type": "array",
                                                      "items": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "organization": {
                                                      "anyOf": [
                                                        {
                                                          "title": "GovernanceOrganization",
                                                          "description": "github.com/naturalselectionlabs/sakuin/common/schema/metadata.GovernanceOrganization",
                                                          "type": "object",
                                                          "properties": {
                                                            "about": {
                                                              "type": "string"
                                                            },
                                                            "id": {
                                                              "type": "string"
                                                            },
                                                            "name": {
                                                              "type": "string"
                                                            }
                                                          },
                                                          "required": [
                                                            "id",
                                                            "name"
                                                          ],
                                                          "additionalProperties": false
                                                        },
                                                        {
                                                          "type": "null"
                                                        }
                                                      ]
                                                    },
                                                    "start_at": {
                                                      "anyOf": [
                                                        {
                                                          "title": "Time",
                                                          "description": "time.Time",
                                                          "type": "string"
                                                        },
                                                        {
                                                          "type": "null"
                                                        }
                                                      ]
                                                    },
                                                    "start_block": {
                                                      "anyOf": [
                                                        {
                                                          "description": "github.com/shopspring/decimal.Decimal",
                                                          "type": "string"
                                                        },
                                                        {
                                                          "type": "null"
                                                        }
                                                      ]
                                                    },
                                                    "title": {
                                                      "type": "string"
                                                    }
                                                  },
                                                  "required": [
                                                    "id"
                                                  ],
                                                  "additionalProperties": false
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "reason": {
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "choice",
                                            "proposal"
                                          ],
                                          "additionalProperties": false
                                        },
                                        {
                                          "title": "MetaverseTrade",
                                          "description": "github.com/naturalselectionlabs/sakuin/common/schema/metadata.MetaverseTrade",
                                          "type": "object",
                                          "properties": {
                                            "action": {
                                              "title": "MetaverseTradeAction",
                                              "description": "github.com/naturalselectionlabs/sakuin/common/schema/metadata.MetaverseTradeAction",
                                              "enum": [
                                                "buy",
                                                "list",
[...]
